@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(48, 48, 48);
}

h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.374);
}

#tudo {
    margin: 60px auto;
    width: 600px;
    height: 600px;
}

#questoes input {
    height: 50px;
    width: 300px;
    border-radius: 8px;
    margin-right: 10px;
    padding: 6px;
    font-size: 18px;
}

button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    cursor: pointer;
}

#questoes {
    display: flex;
    margin-left: 130px;
}

#lista {
    margin: 10px 0px 0px 130px;
    width: 300px;
    height: 100px;
    color: white;
    padding: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;

}